version: '3.8'

services:
  db:
    image: postgres:16
    container_name: wallet_db
    restart: always
    environment:
      POSTGRES_DB: wallet_db
      POSTGRES_USER: wallet_user
      POSTGRES_PASSWORD: wallet_password
    ports:
      - "5432:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d

  api:
    build: .
    container_name: wallet_api
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+psycopg2://wallet_user:wallet_password@db:5432/wallet_db
    restart: on-failure
