version: '3.8'

services:
  db:
    image: postgres:16
    container_name: wallet_db
    restart: always
    environment:
      POSTGRES_DB: wallet_db
      POSTGRES_USER: wallet_user
      POSTGRES_PASSWORD: wallet_password
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d

  api:
    build: .
    container_name: wallet_api
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file: .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
    restart: on-failure
